name: Build and Push Docker Image

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        run: echo "Checking out repository..."

      - uses: actions/checkout@v4

      - name: Checkout completed
        run: echo "Repository checked out."

      - name: Docker login start
        run: echo "Logging in to Docker Hub as ${{ secrets.USERNAME }}"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}

      - name: Docker login success
        run: echo "Docker Hub login successful."

      - name: Setup Buildx start
        run: echo "Setting up Docker Buildx..."

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Buildx ready
        run: echo "Docker Buildx is ready."

      - name: Build & push start
        run: echo "Building and pushing Docker image..."

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.USERNAME }}/final-python:latest

      - name: Build & push finished
        run: echo "Docker image pushed successfully"
